<!-- Page content -->
<app-header></app-header>
<app-nav-bar-tab></app-nav-bar-tab>
<!-- Content -->
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-dark table-sm">
            <thead>
                <tr class="text-center roboto-medium">
                    <th>#</th>
                    <th>DNI</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>TELÉFONO</th>
                    <th>USUARIO</th>
                    <th>EMAIL</th>
                    <th>ACTUALIZAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let usuario of Usuarios">
                    <td>{{ usuario.id }}</td>
                    <th>{{ usuario.dni }}</th>
                    <th>{{ usuario.nombres }}</th>
                    <th>{{ usuario.apellidos }}</th>
                    <th>{{ usuario.telefono }}</th>
                    <th>{{ usuario.login }}</th>
                    <th>{{ usuario.email }}</th>
                    <td>
                        <a routerLink="/user-update" class="btn btn-success">
                                <i class="fas fa-sync-alt"></i>	
                        </a>
                    </td>
                    <td>
                        <form action="">
                            <button type="button" class="btn btn-warning">
                                    <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>